{% extends 'base-admin.html.twig' %}

{% block title %}Admin Dashboard | www.dinlanka.com | Service Beyond Borders {% endblock %}

{% block body %}
        <div class="content">
            <div class="row">
                <div class="col-lg-2">


                </div>
                <div class="col-lg-10">
                    <div class="row">
                        <div class="col-md-10">
                            <div class="card">
                                <div class="card-header">
                                    <h5 class="title" style="color: black;">Order Location Details</h5>
                                </div>
                                <div class="card-body">
                                    <form>
                                        <div class="row">
                                            <div class="col-sm-3">

                                            </div>
                                            <div class="col-sm-2">
                                                <div class="form-group">
                                                    <label><input type="radio" name="order_type"> Sea Freight</label>
                                                </div>
                                            </div>
                                            <div class="col-sm-2">
                                                <div class="form-group">
                                                    <label><input type="radio" name="order_type"> Air Freight</label>
                                                </div>
                                            </div>
                                            <div class="col-sm-2">
                                                <div class="form-group">
                                                    <label><input type="radio" name="order_type"> UPB</label>
                                                </div>
                                            </div>
                                            <div class="col-sm-3">

                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-2">

                                            </div>
                                            <div class="col-md-3">
                                                <div class="form-group">
                                                    <label>B/L ID</label>
                                                    <input type="text" class="form-control"  placeholder="" value="">
                                                </div>
                                            </div>
                                            <div class="col-md-2">
                                            </div>
                                            <div class="col-md-3">
                                                <div class="form-group">
                                                    <label>DinLanka Bill ID</label>
                                                    <input type="text" class="form-control" placeholder="" value="">
                                                </div>
                                            </div>
                                            <div class="col-md-2">
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label>Departure</label>
                                                    <input type="text" class="form-control" placeholder="" value="">
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label>Departure Date</label>
                                                    <input type="date" class="form-control" placeholder="" value="">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label>Arrival</label>
                                                    <input type="text" class="form-control" placeholder="" value="">
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label>Arrival Date</label>
                                                    <input type="date" class="form-control" placeholder="" value="">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-2">

                                            </div>
                                            <div class="col-md-8">
                                                <div class="form-group">
                                                    <label>Current Location</label>
                                                    <input type="text" class="form-control" placeholder="" value="">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-4">

                                            </div>
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <input type="submit" class="btn btn-primary btn-block" placeholder="Submit" value="Submit">
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

{% endblock %}