{% extends 'base-admin.html.twig' %}

{% block title %}Admin Dashboard | www.dinlanka.com | Service Beyond Borders {% endblock %}

{% block body %}
        <div class="content">
                <div class="row">
                        <div class="col-lg-4">

                        </div>
                        <div class="col-lg-1">
                                ADMIN DASHBOARD WITH CONTETNT
                        </div>
                </div>
        </div>

{% endblock %}