<div class="col-md-2">
    <div class="radio">
        <label><input type="radio" name="order_type">Air Freight</label>
    </div>
</div>
<div class="col-md-2">
    <div class="radio">
        <label><input type="radio" style="color: black" name="order_type">UPB</label>
    </div>
</div>