{% extends "base.html.twig" %}

{% block title %}IOR / EOR services | www.dinlanka.com | Service Beyond Borders {% endblock %}

{% block body %}
    <section class="page-title-section">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <div class="page-header-wrap">
                        <div class="page-header">
                            <h1>IOR EOR SERVICES</h1>
                        </div>
                        <ol class="breadcrumb">
                            <li><a href="/">Home</a></li>
                            <li class="active">IOR EOR Services</li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Single-Service-Start -->
    <section class="single-service-contents">
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-sm-5 col-xs-12">
                    <div class="service-sidebar sidebar-wrapper">

                        <div class="widget">
                            <h2 class="widget-title">Services</h2>
                            <ul class="service-list">
                                <li class="active"><a href="/ior-eor-services" class="icon-air">IOR EOR Services</a></li>
                                <li><a href="/ocean-freight" class="icon-marine">Ocean Freight</a></li>
                                <li><a href="/air-freight" class="icon-store">Air Freight</a></li>
                                <li><a href="/sea-air-service" class="icon-shipping">Sea-Air Service</a></li>
                                <li><a href="/dinlanka-cargo-insurance" class="icon-transportation">Cargo Insurance</a></li>
                                <li><a href="/new-shipping-containers-for-sale" class="icon-trucking">New &amp; Used Containers</a></li>
                                <li><a href="/supply-chain-manegment" class="icon-trucking">Supply Chain Management</a></li>
                            </ul>
                        </div>
                        <div class="widget">
                            <h2 class="widget-title">Office Hours</h2>
                            <div class="textwidget">
                                <p>Monday -
                                    Friday: 9:00 - 18:00<br>
                                    Saturday: 9:00 - 2:00<br>
                                    Holidays: 9:00 - 12:00</p>
                            </div>
                        </div><!-- /.widget -->
                    </div><!-- /.sidebar-wrapper -->
                </div><!-- /.col -->
                <div class="col-md-9 col-sm-7 col-xs-12">
                    <div class="single-service-content">
                        <div class="single-service-thumb">
                            <img src="{{ asset('img/service/airthumb.jpg') }}" alt="image"/>
                        </div>
                        <h3>DINLANKA –THE GLOBAL IOR/EOR PROVIDER</h3>
                        <p>Dinlanka is a specialist in providing IOR / EOR services through its global network. Its current Customers include Global Technical & Telecommunication Companies.</p><br>
                        <h3>What is IOR (Importer of Records)?</h3>
                        <p>When you are importing a product into a Country, Your Company or your Agent must be physically present at the importing Country as you are responsible in fulfilling all legal obligations that is enforced by Country’s Customs. Unfortunately this would be challenging due to the following</p>
                        <p>
                        <ul style="list-style-type:disc; padding-left: 10%">
                            <li>Cost involved in establishing and running such an Entity.</li>
                            <li>Your Organization will attract unnecessary Corporate Tax Exposure.</li>
                            <li>You will have to know the importation regulations of that Country as local laws differ from Country to Country.</li>
                            <li>There may be requirements to possess a license / Permit to import.</li>
                            <li>In such a situation as a solution you can opt for an IOR service Provider, who will fulfil end to end tasks of the Importer. The Importer of Records will take care of all the services that need to be done complying with local regulations, Customs formalities (Filing of Customs entries, Payment of duties and other levies)</li>
                        </ul>
                        </p><br>
                        <h3>What is EOR (Exporter of Records?)</h3>
                        <p>When you are exporting a products out of your Country you need to follow your Countries export regulations which may include securing of export licenses etc.</p>
                        <p><b>What are the services provided by Dinlanka as your IOR /EOR Provider?</b></p>
                        <p>Dinlanka will act as your legal representative for at the Exporting/ importing destination and will perform all services in relation to your shipment which will ease you of complicated affairs in forwarding/ collection/ clearances and delivery.</p>
                        <p>The Customs clearance in relation to duration and process will differ from Country to Country and can be long and difficult if the documentations are not handled effectively and will pose risks of additional costs and delays. Dinlanka being Specialists will take care of all these complication risks due to its established network.</p>
                        <p>Accordingly Dinlanka will perform the following services</p>
                        <p>
                        <ul style="list-style-type:disc; padding-left: 10%">
                            <li>Dinlanka will act as your Legal representative at importing Country for Imports and Exporter for Exports.</li>
                            <li>Dinlanka will take care of performing compliance assessments to understand import / Export regulations / restrictions ( securing import or Export permits/certifications)</li>
                            <li>Dinlanka will perform shipments customs clearance including payment of customs duties//taxes, filing of completed duty entry and associated documents.</li>
                            <li>Dinlanka will provide warehousing & storage facilities if required.</li>
                            <li>Dinlanka will ensure that the shipment is collected from the Exporter and delivered to the ultimate Customer destination within the shortest duration.</li>
                            <li>Dinlanka will maintain records as per In country local law requirement.</li>
                        </ul>
                        </p><br>

                    </div><!-- /.single-service-content -->

                </div><!-- /.col -->
            </div><!-- /.row -->
        </div><!-- /.container -->
    </section>
    <!-- Single-Service-End-->


    <!-- cta start -->
    <section class="cta-section">
        <div class="container text-center">
            <a data-toggle="modal" data-target="#quoteModal" href="#" class="btn btn-primary quote-btn">Get a Quote</a>

            <!-- Modal -->
            <div class="modal fade" id="quoteModal" tabindex="-1" role="dialog" aria-labelledby="quoteModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title" id="quoteModalLabel">Request a rate for the shipping of your goods.</h4>
                        </div>
                        <div class="modal-body">
                            <form id="contactForm" action="sendemail.php" method="POST">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="name">Name</label>
                                            <input id="name" name="name" type="text" class="form-control"  required="" placeholder="">
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="company">Company Name</label>
                                            <input id="company" name="company" type="text" class="form-control" placeholder="">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="phone">Phone Number</label>
                                            <input id="phone" name="phone" type="text" class="form-control" placeholder="">
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="email">Email address</label>
                                            <input id="email" name="email" type="email" class="form-control" required="" placeholder="">
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="city">City Name</label>
                                            <input id="city" name="city" type="text" class="form-control" placeholder="">
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="subject">Subject</label>
                                            <input id="subject" name="subject" type="text" class="form-control" required="" placeholder="">
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group text-area">
                                    <label for="message">Your Message</label>
                                    <textarea id="message" name="message" class="form-control" rows="6" required="" placeholder=""></textarea>
                                </div>

                                <button type="submit" class="btn btn-primary">Send Message</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

        </div><!-- /.container -->
    </section><!-- /.cta-section -->
    <!-- cta end -->
{% endblock %}