{% extends "base.html.twig" %}

{% block title %}New and used containers | www.dinlanka.com | Service Beyond Borders {% endblock %}

{% block body %}
    <section class="page-title-section">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <div class="page-header-wrap">
                        <div class="page-header">
                            <h1>NEW AND USED CONTAINERS</h1>
                        </div>
                        <ol class="breadcrumb">
                            <li><a href="/">Home</a></li>
                            <li class="active">NEW AND USED CONTAINERS</li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Single-Service-Start -->
    <section class="single-service-contents">
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-sm-5 col-xs-12">
                    <div class="service-sidebar sidebar-wrapper">

                        <div class="widget">
                            <h2 class="widget-title">Services</h2>
                            <ul class="service-list">
                                <li><a href="/ior-eor-services" class="icon-air">IOR EOR Services</a></li>
                                <li><a href="/ocean-freight" class="icon-marine">Ocean Freight</a></li>
                                <li><a href="/air-freight" class="icon-store">Air Freight</a></li>
                                <li><a href="/sea-air-service" class="icon-shipping">Sea-Air Service</a></li>
                                <li><a href="/dinlanka-cargo-insurance" class="icon-transportation">Cargo Insurance</a></li>
                                <li class="active"><a href="/new-shipping-containers-for-sale" class="icon-trucking">New &amp; Used Containers</a></li>
                                <li><a href="/supply-chain-manegment" class="icon-trucking">Supply Chain Management</a></li>
                            </ul>
                        </div>

                        <div class="widget">
                            <h2 class="widget-title">Office Hours</h2>
                            <div class="textwidget">
                                <p>Monday -
                                    Friday: 9:00 - 18:00<br>
                                    Saturday: 9:00 - 2:00<br>
                                    Holidays: 9:00 - 12:00</p>
                            </div>
                        </div><!-- /.widget -->
                    </div><!-- /.sidebar-wrapper -->
                </div><!-- /.col -->
                <div class="col-md-9 col-sm-7 col-xs-12">
                    <img class="img-alignnone" src="{{ asset('img/service/img_1.jpg') }}" alt="image" height=700px width=600px>
                    <h3>WE SELL NEW AND USED 10’ 20’ 40’ AND 45’ SHIPPING CONTAINERS.</h3>
                    <p><b>New and used shipping containers</b> can be delivered to any location in the world directly from our manufacturing site in China. These are available in various RAL colors, but we can also have the container painted in your desired color and include customized features.</p>
                    <p>We can supply everything from reefer container, and tank containers to specials, like half height containers, open top containers, and many more besides commonly used inter modal Containers.</p>
                    <p><img class="img-alignleft" src="{{ asset('img/service/container_1.jpg') }}" alt="image"></p>
                    <p><b>10′ Containers</b> –10’ shipping containers are ideal for small spaces like job sites, small offices and residences. These containers are easy to transport and place on site in small areas and offer the same security as the standard size units. 10’ shipping containers are available with standard barn doors and roll up doors.</p>
                    <p><b>20′ Containers</b> – 20’ shipping containers are the most common, accessible and affordable option when purchasing a shipping container. 20’ in length, these units are ideal for agriculture, industrial, military, personal use, document storage, car storage and construction use to name a few</p>
                    <p><img class="img-alignright" src="{{ asset('img/service/container_2.jpg') }}" alt="image"><b>40′ &amp; 45’Containers</b> – 40’ & 45’shipping containers compared to 20’ containers are much more cost effective per square foot. These containers are ideal for warehouses, job sites, car dealerships, tire storage and large storage needs.</p>
                    <p><b>Used containers</b> can also be supplied by to any location, globally.</p>
                </div><!-- /.col -->
            </div><!-- /.row -->
        </div><!-- /.container -->
    </section>
    <!-- Single-Service-End-->


    <!-- cta start -->
    <section class="cta-section">
        <div class="container text-center">
            <a data-toggle="modal" href="/quote" class="btn btn-primary quote-btn">Get a Quote</a>
{#
            <!-- Modal -->
            <div class="modal fade" id="quoteModal" tabindex="-1" role="dialog" aria-labelledby="quoteModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title" id="quoteModalLabel">Request a Quote.</h4>
                        </div>
                        <div class="modal-body">
                            <form id="contactForm" action="sendemail.php" method="POST">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="name">Name</label>
                                            <input id="name" name="name" type="text" class="form-control"  required="" placeholder="">
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="company">Company Name</label>
                                            <input id="company" name="company" type="text" class="form-control" placeholder="">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="phone">Contact Number</label>
                                            <input id="phone" name="phone" type="text" class="form-control" placeholder="">
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="email">Email address</label>
                                            <input id="email" name="email" type="email" class="form-control" required="" placeholder="">
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="city">Origin</label>
                                            <input id="city" name="city" type="text" class="form-control" placeholder="">
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="subject">Mode of Transport</label>
                                            <input id="subject" name="subject" type="text" class="form-control" required="" placeholder="">
                                        </div>
                                    </div>
                                </div>

                                <button type="submit" class="btn btn-primary">Submit</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

        </div><!-- /.container -->
#}
    </section><!-- /.cta-section -->
    <!-- cta end -->
{% endblock %}
