{% extends "base.html.twig" %}

{% block title %}Sea-Air Service | www.dinlanka.com | Service Beyond Borders {% endblock %}

{% block body %}
    <section class="page-title-section">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <div class="page-header-wrap">
                        <div class="page-header">
                            <h1>SEA-AIR SERVICES</h1>
                        </div>
                        <ol class="breadcrumb">
                            <li><a href="/">Home</a></li>
                            <li class="active">SEA-AIR SERVICES</li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Single-Service-Start -->
    <section class="single-service-contents">
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-sm-5 col-xs-12">
                    <div class="service-sidebar sidebar-wrapper">

                        <div class="widget">
                            <h2 class="widget-title">Services</h2>
                            <ul class="service-list">
                                <li><a href="/ior-eor-services" class="icon-air">IOR EOR Services</a></li>
                                <li><a href="/ocean-freight" class="icon-marine">Ocean Freight</a></li>
                                <li><a href="/air-freight" class="icon-store">Air Freight</a></li>
                                <li class="active"><a href="/sea-air-service" class="icon-shipping">Sea-Air Service</a></li>
                                <li><a href="/dinlanka-cargo-insurance" class="icon-transportation">Cargo Insurance</a></li>
                                <li><a href="/new-shipping-containers-for-sale" class="icon-trucking">New &amp; Used Containers</a></li>
                                <li><a href="/supply-chain-manegment" class="icon-trucking">Supply Chain Management</a></li>
                            </ul>
                        </div>

                        <div class="widget">
                            <h2 class="widget-title">Office Hours</h2>
                            <div class="textwidget">
                                <p>Monday -
                                    Friday: 9:00 - 18:00<br>
                                    Saturday: 9:00 - 2:00<br>
                                    Holidays: 9:00 - 12:00</p>
                            </div>
                        </div><!-- /.widget -->
                    </div><!-- /.sidebar-wrapper -->
                </div><!-- /.col -->
                <div class="col-md-9 col-sm-7 col-xs-12">
                    <p>Where ocean is too slow but air is not needed, Dinalanka’s Sea Air solution may be the answer. Combining the advantages of economy and speed, the Sea Air solution is often the perfect balance. As always, you are kept up to date with your shipment’s progress though our state of the art technology and global air and sea freight teams.</p>
                    <p>Sea Air can be up to 80% faster than ocean freight for a fraction of the cost. Our team are adept at helping you assess what the right solution is for you in order to streamline your supply chain requirements.</p>
                    <br>
                    <br>
                    <h3><img class="img-alignleft" src="{{ asset('img/service/shippingthumb.png') }}" alt="image">Ecological Advantages</h3>
                    <p>Our combined Sea-Air service is not only an economical alternative for urgent goods but also saves CO2 emissions and thus offers a more ecological option to pure airfreight services.</p>
                    <p>By using Sea-Air, the amount of post-carriage trucking is less than with pure sea freight since the goods arrive at the nearest international airport rather than having to be trucked across the country from the ports located on the coast.</p>
                    <br>
                    <h3>Suitable Commodities</h3>
                    <p>Generally all types of commodities are suitable for Sea-Air Transport, even fragile, heavy, or high-value goods. If you are unsure whether your goods are suitable for Sea-Air Transport please do not hesitate to contact us, we will be glad to find out for you.</p>
                    <p>Since the second half of the transport is executed via air, the same general regulations about dangerous and hazardous goods apply as for pure airfreight.</p>
                    <h3>Geographical Areas covered</h3>
                    <p>We serve all international ports in Far East and India, and supply all destinations in Europe, Africa, North and South America. If the final destination is in Europe, for example, our sea freight does not waste time by routing around Western Europe and our airfreight has the flexibility to serve Northern, Western, Southern and Eastern Europe–following the needs of the cargo itself.</p>

                </div><!-- /.col -->
            </div><!-- /.row -->
        </div><!-- /.container -->
    </section>
    <!-- Single-Service-End-->


    <!-- cta start -->
    <section class="cta-section">
        <div class="container text-center">
            <a data-toggle="modal" href="/quote" class="btn btn-primary quote-btn">Get a Quote</a>
{#
            <!-- Modal -->
            <div class="modal fade" id="quoteModal" tabindex="-1" role="dialog" aria-labelledby="quoteModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title" id="quoteModalLabel">Request a Quote.</h4>
                        </div>
                        <div class="modal-body">
                            <form id="contactForm" action="sendemail.php" method="POST">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="name">Name</label>
                                            <input id="name" name="name" type="text" class="form-control"  required="" placeholder="">
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="company">Company Name</label>
                                            <input id="company" name="company" type="text" class="form-control" placeholder="">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="phone">Contact Number</label>
                                            <input id="phone" name="phone" type="text" class="form-control" placeholder="">
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="email">Email address</label>
                                            <input id="email" name="email" type="email" class="form-control" required="" placeholder="">
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="city">Origin</label>
                                            <input id="city" name="city" type="text" class="form-control" placeholder="">
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="subject">Mode of Transport</label>
                                            <input id="subject" name="subject" type="text" class="form-control" required="" placeholder="">
                                        </div>
                                    </div>
                                </div>

                                <button type="submit" class="btn btn-primary">Submit</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

        </div><!-- /.container -->
#}        
    </section><!-- /.cta-section -->
    <!-- cta end -->           

{% endblock %}

