{% extends "base.html.twig" %}

{% block title %}Services | www.dinlanka.com | Service Beyond Borders {% endblock %}

{% block body %}
    <section class="page-title-section">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <div class="page-header-wrap">
                        <div class="page-header">
                            <h1>Our Services</h1>
                        </div>
                        <ol class="breadcrumb">
                            <li><a href="/dinlanka">Home</a></li>
                            <li class="active">Services</li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="service-page-contents section-padding">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-6">
                    <div class="service-featured-thumbs">
                        <div class="service-thumb">
                            <a href="img/service/zoom1.jpg" class="img-link">
                                <img class="img-responsive" src="{{ asset('img/service/sv1.jpg') }}" alt="service">
                            </a>

                        </div>
                        <div class="row">
                            <div class="col-xs-12 col-sm-6">
                                <div class="service-thumb">
                                    <a href="img/service/sv2.jpg" class="img-link">
                                        <img class="img-responsive" src="{{ asset('img/service/sv2.jpg') }}" alt="service">
                                    </a>
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-6">
                                <div class="service-thumb">
                                    <a href="img/service/zoom3.jpg" class="img-link">
                                        <img class="img-responsive" src="{{ asset('img/service/sv3.jpg') }}" alt="service">
                                    </a>
                                </div>
                            </div>
                        </div><!-- /.row -->
                    </div><!-- /.service-featured-thumbs -->

                </div><!-- /.col -->

                <div class="col-xs-12 col-sm-6">
                    <div class="service-featured-content">
                        <h2>SERVICE BEYOND BORDERS</h2>
                        <p>We comprise with a professional sales team to offer you the best &amp; competitive rates</p>
                        <p>A friendly customer service team to take care of your shipments &amp; issues</p>
                        <p>An efficient team of documentation to serve you better with zero errors on your valued documents</p>
                        <p>A well experienced team of operations to handle your shipments safely and smoothly</p>
                        <p>100% accurate and trustful accounting system</p>
                    </div>

                </div><!-- /.col -->
            </div><!-- /.row -->

            <div class="service-blocks">
                <div class="row">
                    <div class="col-sm-4">
                        <div class="service-block clearfix">
                            <div class="service-icon">
                                <i class="flaticon-logistics16"></i>
                            </div>
                            <div class="service-content">
                                <h3><a href="/dinlanka/ior-eor-services">IOR EOR Service</a></h3>
                                <p>Dinlanka is a specialist in providing IOR / EOR services through its global network. Its current Customers include Global Technical &amp; Telecommunication Companies.</p>
                            </div>
                        </div><!-- /.service-block -->
                    </div><!-- /.col-sm-4 -->
                    <div class="col-sm-4">
                        <div class="service-block clearfix">
                            <div class="service-icon">
                                <i class="flaticon-platform12"></i>
                            </div>
                            <div class="service-content">
                                <h3><a href="/dinlanka/ocean-freight">Ocean Freight</a></h3>
                                <p>Dinlanka Forwarding network provides a complete range of sea freight services to meet both your import and export requirements.</p>
                            </div>
                        </div><!-- /.service-block -->
                    </div><!-- /.col-sm-4 -->
                    <div class="col-sm-4">
                        <div class="service-block clearfix">
                            <div class="service-icon">
                                <i class="flaticon-package27"></i>
                            </div>
                            <div class="service-content">
                                <h3><a href="/dinlanka/air-freight">Air Freight</a></h3>
                                <p>Dinlanka Forwarding’s specialist air freight teams are equipped to offer a fast, reliable, cost effective service to meet your needs.</p>
                            </div>
                        </div><!-- /.service-block -->
                    </div><!-- /.col-sm-4 -->
                </div><!-- /.row -->
                <div class="row">
                    <div class="col-sm-4">
                        <div class="service-block clearfix">
                            <div class="service-icon">
                                <i class="flaticon-logistics18"></i>
                            </div>
                            <div class="service-content">
                                <h3><a href="/dinlanka/sea-air-service">Sea-Air Service</a></h3>
                                <p>Where ocean is too slow but air is not needed, Dinalanka’s Sea Air solution may be the answer.</p>

                            </div>
                        </div><!-- /.service-block -->
                    </div><!-- /.col-sm-4 -->
                    <div class="col-sm-4">
                        <div class="service-block clearfix">
                            <div class="service-icon">
                                <i class="flaticon-logistics42"></i>
                            </div>
                            <div class="service-content">
                                <h3><a href="/dinlanka/dinlanka-cargo-insurance">Cargo Insurance</a></h3>
                                <p>With DinLanka We offer insurance at favorable terms and competitive premiums.</p>

                            </div>
                        </div><!-- /.service-block -->
                    </div><!-- /.col-sm-4 -->
                    <div class="col-sm-4">
                        <div class="service-block clearfix">
                            <div class="service-icon">
                                <i class="flaticon-callcenter"></i>
                            </div>
                            <div class="service-content">
                                <h3><a href="/dinlanka/new-shipping-containers-for-sale">New &amp; Used Containers</a></h3>
                                <p>We can supply everything from reefer container, and tank containers to specials, like half height containers, open top containers, and many more besides commonly used inter modal Containers.</p>

                            </div>
                        </div><!-- /.service-block -->
                    </div><!-- /.col-sm-4 -->
                </div><!-- /.row -->
            </div><!-- /.service-blocks -->
        </div><!-- /.container -->

    </section>



    <!-- cta start -->
    <section class="cta-section">
        <div class="container text-center">
            <a data-toggle="modal" href="/quote" class="btn btn-primary quote-btn">Get a Quote</a>
{#
            <!-- Modal -->
            <div class="modal fade" id="quoteModal" tabindex="-1" role="dialog" aria-labelledby="quoteModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title" id="quoteModalLabel">Request a Quote.</h4>
                        </div>
                        <div class="modal-body">
                            <form id="contactForm" action="sendemail.php" method="POST">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="name">Name</label>
                                            <input id="name" name="name" type="text" class="form-control"  required="" placeholder="">
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="company">Company Name</label>
                                            <input id="company" name="company" type="text" class="form-control" placeholder="">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="phone">Contact Number</label>
                                            <input id="phone" name="phone" type="text" class="form-control" placeholder="">
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="email">Email address</label>
                                            <input id="email" name="email" type="email" class="form-control" required="" placeholder="">
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="city">Origin</label>
                                            <input id="city" name="city" type="text" class="form-control" placeholder="">
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="subject">Mode of Transport</label>
                                            <input id="subject" name="subject" type="text" class="form-control" required="" placeholder="">
                                        </div>
                                    </div>
                                </div>

                                <button type="submit" class="btn btn-primary">Submit</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

        </div><!-- /.container -->
#}        
    </section><!-- /.cta-section -->
    <!-- cta end -->           

{% endblock %}